body{
    background:linear-gradient(to right, #000080, #4B0082);
    background-blend-mode:soft-light;
    color: whitesmoke;
    width: 95vw;
    height: 100vh;
    margin: 0;
}
header{
    height: 30%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
details{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0px;
    justify-content: flex-end;
    font-size: 30px;
    font-weight: 1000;
    cursor: pointer;
  
}
summary{
      list-style-type: none;
}
nav{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
nav a{
        color: whitesmoke;
        text-decoration: none;
}
nav a:hover,nav a:active{
    color: red;
}
header h1{
    display: flex;
        justify-content: center;
}
main{
    display: flex;
    width: 100%;
    height: 55%;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}
.s{
    width: 80%;
    margin: 20px;
    border: 1px solid gray;
    border-radius: 20px;
    background-color: transparent;
    color: whitesmoke;
    font-size: 30px;
    padding: 15px;
    font-weight: 300;
    text-decoration: none;
    justify-content: center;
    display: flex;
}
.s:hover, .s:active{
    background-color: whitesmoke;
    color:black;
    border: transparent;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
